@tailwind base;
@tailwind components;
@tailwind utilities;

.card-player-0 {
    position: absolute;
    width: 138px;
    height: 205px;

    background-size: cover;
    background-position: center;
    background-image: url("/img/BLANK.png");
}

.card-player-1 {
    position: absolute;
    width: 160px;
    height: 107px;

    background-size: cover;
    background-position: center;
    background-image: url("/img/BLANK_L.png");
}

.card-player-2 {
    position: absolute;
    width: 160px;
    height: 107px;

    background-size: cover;
    background-position: center;
    background-image: url("/img/BLANK_R.png");
}

.card-player-3 {
    position: absolute;
    width: 109px;
    height: 161px;

    background-size: cover;
    background-position: center;
    background-image: url("/img/BLANK.png");
}
